.ipynb_checkpoints/
__pycache__/
*.pyc
.DS_Store 
"Dataset_ecommerce.csv" 
"*.ipynb" 
"models/" 
"Dataset_ecommerce.csv" 
"*.ipynb" 
"models/" 
"Dataset_ecommerce.csv" 
"*.ipynb" 
"models/" 
"Dataset_ecommerce.csv" 
"*.ipynb" 
"models/" 
"Dataset_ecommerce.csv" 
"*.ipynb" 
"models/" 
"catboost_info/" 
"Dataset_ecommerce.csv" 
"*.ipynb" 
"models/" 
"Dataset_ecommerce.csv" 
"*.ipynb" 
"models/" 
"Dataset_ecommerce.csv" 
"*.ipynb" 
"models/" 
"Dataset_ecommerce.csv" 
"*.ipynb" 
"models/" 
"Dataset_ecommerce.csv" 
"*.ipynb" 
"models/" 
